################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GuardAppSettings
/src/.vs
/src/GuardAppSettings/obj
/.claude
/src/GuardAppSettings/bin/Debug/net9.0
/src/GuardAppSettings/bin/Release/net9.0
/src/GuardAppSettings/bin
/test/GuardAppSettings.Tests/bin/Debug/net9.0
/test/GuardAppSettings.Tests/obj
/obj
